html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  font-size: 16px;
}

input {
  display: inline-block;
  height: 32px;
  width: 32px;
  font-size: inherit;
  text-align: center;
}

input[disabled] {
  background: white;
}

.invalid {
  border: 2px solid red;
}

.noborder {
  border: none;
}

.main {
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

.addition {
  height: 100px;
  font-size: 24px;
}

.highlight {
  background-color: orange;
}

.axis {
  width: 450px;
  margin: auto;
}

.axis .terms-input {
  position: absolute;
  bottom: 120%;
  left: calc(50% - 16px);

}

.terms {
  position: relative;
  text-align: left;
  width: 450px;
  top: 13px;
  right: -20px;
  z-index: 2;
}

.first-term-visual, .second-term-visual {
  display: inline-block;
  visibility:hidden;
  opacity: 0;
  transition: opacity 0.5s 0.5s ease-in-out;
}

.shown {
  visibility: visible;
  opacity: 1;
}

.first-term-visual {
  width: 140px;
}

.second-term-visual {
  width: 80px;
}

.first-term-visual .ruler, .second-term-visual .ruler {
  position: relative;
  border-top: 2px solid red;
  border-right: 2px solid red;
  border-left: 2px solid red;
}

.first-term-visual .ruler {
  width: 140px;
  height: 70px;
  border-radius: 140px 140px 0 0;
}

.second-term-visual .ruler {
  width: 80px;
  height: 40px;
  border-radius: 80px 80px 0 0;
  right: 5px;
}

.ruler:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid red;
  border-right: 2px solid red;
  position: absolute;
  bottom: 0;
  right: -5px;
  transform: rotate(135deg);
}

.axis-image {
  width: 444px;
}
